.kmps-info__section-of-btn{
    margin-top: 24px;
}

.kmps-info__section-of-btn_incolumn{
    display:flex;
    flex-direction: column;
    row-gap: 12px;
}

.kmps-info__section-of-btn_inline{
    display:flex;
    column-gap: 12px;
}

.list-draft-kmps__select{
    max-width:100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
}

.section-of-btn__item{
    color:#000;
    transition: all ease-in-out .5;
    flex-grow: 1;
}

.btn__status_success{
    color:#fff;
    background-color: green;
}

.btn__status_error{
    color:#fff;
    background-color: red;
}